@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(1, 5, 27);
  position: relative;
  background: url('../public/haloring.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  z-index: 10;
  font-family: 'Source Sans Pro', sans-serif;
}


body::after{
  content:"";
  width: 100%;
  height: 100%;
  position: fixed;
  background: #00000085;
  top: 0;
  z-index: -1;
  pointer-events: none;
}


a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}
