@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background: black;
  height: 100%;
  font-family: "Kanit", sans-serif;
}




a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}
